<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>MauricioCodes</title>
</head>

<body>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Mauricio">
            <h1>Maurício Santos</h1>
            <div>
                <a href="http://www.linkedin.com/in/mauricio-santos-a9922740">
                </a>

                <a href="http://www.github.com/mauriciogen3">
                </a>

                <a href="http://www.facebook.com/mauriciogen3">
                </a>

                <a href="https://www.youtube.com/channel/UC8_4UYuRW8_G6V92jRrk7bA">
                </a>

            </div>

        </section>

    </aside>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>